<VirtualHost *:{{ nextcloud_port }}>
  DocumentRoot /var/www/html/nextcloud/
  ServerName  {{ nextcloud_server_name }}
  SSLEngine on
  SSLCertificateFile {{ nextcloud_ssl_certificate }}
  SSLCertificateKeyFile {{ nextcloud_ssl_private_key }}

  <Directory /var/www/html/nextcloud/>
    Satisfy Any
    Require all granted
    AllowOverride All
    Options FollowSymLinks MultiViews

    <IfModule mod_dav.c>
      Dav off
    </IfModule>

  </Directory>
</VirtualHost>
